//colors
$colorPrimary: #26c0ab;
$colorNeutralDark: #00494d;
$colorNeutralDarkGrayish: #5e7a7d;
$colorNeutralLightGrayish: #f4fafa;
$colorNeutralLightGrayishBg: #c5e4e7;
$colorAlert: #c72865;

//font
$webFont: 'Space Mono', monospace;

//breakpoints
$tablet: "min-width: 700px";